In [11]:
import boto3 
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import confusion_matrix, accuracy_score

# Defining the s3 bucket 
s3 = boto3.resource('s3')
bucket_name = 'christran-data445-bucket'
bucket = s3.Bucket(bucket_name)

# Defining the file in the bucket 
file_key = 'CarPrice_Assignment.csv'

bucket_object = bucket.Object(file_key)
file_object = bucket_object.get()
file_content_stream = file_object.get('Body')

# Read CSV file
car_price = pd.read_csv(file_content_stream)
car_price.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
##defining X and y variables 
X = car_price.drop(columns = ['price'], axis = 1)
Y = car_price['price']

#splitting data set at random 
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

In [9]:
#model 1 
X_train_1 = X_train[['wheelbase', 'horsepower', 'peakrpm','citympg','highwaympg']]
X_test_1 = X_test[['wheelbase', 'horsepower', 'peakrpm','citympg','highwaympg']]


#building the linear model 
lm_md1 = LinearRegression().fit(X_train_1, Y_train)

#predicting on test
lm_md1_pred = lm_md1.predict(X_test_1)
lm_md1_pred

array([16775.22669055, 15258.98289612, 21705.76810684, 18479.15242988,
       17967.63313764, 21178.74297346, 12833.06276293,  5447.37961642,
        6156.8213427 , 10504.62997188,  6474.10060642, 17224.92046773,
       20079.60335664, 11457.08095954, 10519.43142699, 30091.81874393,
       11727.50908312,  6474.10060642,  7919.6198408 , 23498.15793106,
       24881.81829631,  7070.60903421, 17548.54660487,  2216.09791514,
       13628.87329421,  8970.12439997, 19047.39438187, 23623.92594055,
       10901.86666577,  6474.10060642,  9881.48752205,  9667.54518496,
       13411.27218644, 15475.63999306, 12473.66220224, 13628.87329421,
        6774.16034143, 10519.43142699,  6474.10060642, 10504.62997188,
       17006.66205832])

In [12]:
#comparing the model MSE
mse1 = np.mean((Y_test - lm_md1_pred)**2)
print('The MSE of model 1 is: ', mse1)

The MSE of model 1 is:  11114188.518844029

In [17]:
##Model 2 
X_train_2 = X_train[['carwidth', 'carheight', 'horsepower','citympg','highwaympg']]
X_test_2 = X_test[['carwidth', 'carheight', 'horsepower','citympg','highwaympg']]


#building the linear model 
lm_md2 = LinearRegression().fit(X_train_2, Y_train)

#predicting on test
lm_md2_pred = lm_md2.predict(X_test_1)
lm_md2_pred

/home/ec2-user/anaconda3/envs/python3/lib/python3.8/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- peakrpm
- wheelbase
Feature names seen at fit time, yet now missing:
- carheight
- carwidth

  warnings.warn(message, FutureWarning)

array([618698.70159469, 696089.08011037, 758988.78364362, 630579.7996993 ,
       789740.63892243, 807352.85061236, 788509.07183826, 773661.16315994,
       682042.4166419 , 690319.08438722, 735274.22560322, 626948.19426266,
       628475.27172325, 654251.79793857, 780235.02590199, 721159.40298083,
       784905.27464184, 735274.22560322, 683105.87734261, 764515.19822006,
       756212.37509445, 707920.58580706, 739746.60120301, 710942.9681442 ,
       755245.43828864, 821085.20613296, 710285.20072055, 766070.14647962,
       743166.79451431, 735274.22560322, 848214.57872044, 714016.5029197 ,
       786206.89013436, 731607.9258287 , 723718.78733273, 755245.43828864,
       642399.49757096, 780235.02590199, 735274.22560322, 690319.08438722,
       784323.36542885])

In [18]:
mse2 = np.mean((Y_test - lm_md2_pred)**2)
print('The MSE of model 1 is: ', mse2)

The MSE of model 1 is:  519225971674.73865

In [19]:
mse1>mse2

False

In [ ]:
#we should choose Model 1 because mse 1 is lower than mse 2